@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@600&display=swap');

:root {
    --main-color: #33B05D;
    --lighter-main-color: #ADCF00;
    --text-white: #FFFFFF;
    --shadow: rgba(0, 0, 0, .3);
    --title-section: #4B8C5D;
    --footer: #0F1C13;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: auto;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
}

div,
p,
span {
    font-size: 1.6rem;
}

li {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
}

/** INTRO **/
.intro {
    height: 90vh;
    width: 100%;
    background-image: linear-gradient(to bottom right, var(--main-color) 0%, var(--lighter-main-color) 100%);
    color: var(--text-white);
    display: grid;
    grid-template-rows: 12vh 78vh;
    grid-template-columns: 100%;
}

/* Header */
.intro__header {
    width: 100%;
    padding: 0px 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__img {
    height: 6.5rem;
}

.header__nav {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.nav__list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.nav__element {
    transition: all .3s;
    margin-right: 2rem;
}

.nav__element:active {
    transform: translateY(.6rem);
}

.nav__link {
    border: var(--text-white) 3px solid;
    padding: .5rem 1rem;
    border-radius: 10rem;
    transition: all .3s ease-in-out;
    color: var(--text-white);
    text-decoration: none;
}

.nav__link:hover {
    /* box-shadow: 0px 0px 5px var(--shadow); */
    background-color: var(--text-white);
    cursor: pointer;
    color: var(--main-color);
}

/* Presentation */
.intro__presentation {
    display: flex;
}

.intro__presentation-wrapper {
    padding-left: 5rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    position: relative;
    flex-direction: column;
}

.presentation__wrapper {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.presentation__text {
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
    word-spacing: .25rem;
    text-align: center;
}

.presentation__try-button {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-white);
    background-color: var(--main-color);
    border-radius: 10rem;
    padding: 1rem 2rem;
    font-size: 3rem;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 2rem;
    box-shadow: 0px 0px 5px var(--shadow);
    transition: all .3s ease-in-out;
}

.presentation__try-button:hover {
    box-shadow: 0px 3px 10px var(--shadow);
    transform: translateY(-.5rem);
}

.presentation__try-button:active {
    transform: translateY(0rem);
    box-shadow: 0px 0px 5px var(--shadow);
}

.presentation__try-business {
    margin-top: 2rem;
    color: white;
}

.phone__img {
    position: absolute;
    max-height: 105%;
    max-width: 100%;
    top: -1.5rem;
    right: -15rem;
}

.presentation__img {
    width: 50%;
    background-image: url(../public/img/introbg.jpg);
    background-size: cover;
}

/** END INTRO **/

/** KEY POINTS **/
.key-points {
    padding: 0 5rem;
}

.section-title {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    color: var(--title-section);
    width: 100%;
    text-align: center;
    padding-top: 2rem;
}

.key-points__wrapper {
    display: flex;
}

.key-points__point {
    padding: 3rem 4vw;
}

.point__1 {
    flex: 1;
}

.point__2 {
    flex: 1;
}

.point__3 {
    flex: 1;
}

.point__title {
    text-align: center;
    padding-bottom: .5rem;
}

.point__text {
    text-align: justify;
}

.uepa {
    font-weight: 600;
    color: var(--title-section);
}

/** END KEY POINTS **/

/** US **/
.us {
    padding: 0 5rem 5rem 5rem;
}

.us__list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}

.us__element {
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.us__photo {
    height: 15vw;
    width: 15vw;
    background-color: var(--main-color);
    border-radius: 100%;
    background-size: cover;
}

.albert {}

.xavi {
    background-image: url(../public/img/xavi.jpeg);
}

.marti {}

.marc {
    background-image: url(../public/img/marc.png);
}

.us__name {
    margin-top: 2rem;
    text-align: center;
}

/** END WE **/

/** FOOTER **/
.footer {
    height: 20vh;
    background-color: var(--footer);
}

/** END FOOTER **/

/*** MOBILE **/

@media (max-width: 1200px) {
    .intro {
        height: 100vh;
        width: 100%;
        background-image: linear-gradient(to bottom right, var(--main-color) 0%, var(--lighter-main-color) 100%);
        color: var(--text-white);
        display: grid;
        grid-template-rows: 22vh 78vh;
        grid-template-columns: 100%;
    }

    /*Nav */
    .intro__header {
        padding: 0 2rem;
    }

    .header__nav {
        width: unset;
        height: 100%;
    }

    .nav__list {
        flex-direction: column;
        justify-content: unset;
        width: unset;
        height: 100%;
        align-items: flex-end;
    }

    .nav__element {
        margin: 2rem 0 0 0;
    }

    /* Presentation */
    .presentation__img {
        display: none;
    }

    .intro__presentation-wrapper {
        padding: 1rem;
        width: 100%;
        justify-content: flex-end;
        flex-direction: column-reverse;
        align-items: center;
    }

    .presentation__wrapper {
        width: 100%;
        height: 30%;
    }

    .presentation__phone {
        height: 70%;
        display: flex;
        justify-content: center;
    }

    .presentation__text {
        font-size: 2rem;
    }

    .phone__img {
        position: relative;
        top: unset;
        right: unset;
        max-height: 100%;
    }

    /* Key points */
    .key-points {
        padding: 0 2rem;
    }

    .key-points__wrapper {
        flex-direction: column;
    }

    .point__text {
        text-align: justify;
    }

    /* Us */
    .us {
        padding: 2rem;
    }

    .us__section-title {
        padding: 0;
    }

    .us__list {
        margin-top: 2rem;
        flex-wrap: wrap;
    }

    .us__element {
        width: 50%;
        margin-bottom: 2rem;
    }

    .us__photo {
        height: 35vw;
        width: 35vw;
    }

    .us__name {
        margin-top: 1rem;
    }
}